h1, h2{
	font-size: 56px;
	border: dashed;
	text-align: center;
}

p{
	font-family: "Times New Roman";
	font-size: 24px;
	text-align: left;
	border: dashed;
	font-style: italic;
}

.cool{
	background-color: green;
	color: yellow;
	font-size: 32px;
}

body{
	background-color:#ff99ff;
}

h2{
	font-family: "Comic Sans MS";
}