h1, h2{
	background-color: blue;
	font-size: 86px;
	border: dashed;
	text-align: center;
}

h3, h6{
	font-size: 48px;
	text-align: left;
}

body{
	background-color:#ff99ff;
}



h3, h4{
	text-align: left;
	font-size: 36px;
}

.school{
	border-style: dashed;
	border-color: blue;
}